/*--Lab 8, Katie Anderson--*/

html {
    font-size: 62.5%;
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 3.5em;
    text-align: left;
    padding-left: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

h2 {
    font-size: 3em;
    text-align: center;
    padding: .5em;
}

.wrapper {
    width: 90%;
    margin: auto;
}

img {
    width: 100%;
}

ul {
    font-size: 1.2em;
    margin-left: 2.3em;
    line-height: 1.5em;
    column-count: 3;
}

li {
    font-weight: 700;
    color: #585A5B;
}

li:before {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: .5em;
}

/* no green check if not offered */
li[data-winter="no"]:before {
    content: " "
}

/* showing green check for Fall courses */
li[data-winter="yes"]:before {
    content: "";
    background-image: url(../images/check.png);
    background-size: cover;
}

/* displaying course name */
li:after {
    content: " " attr(data-title);
    color: #747677;
    font-weight: 500;
}

footer {
    margin-top: 3em;
    font-size: 1em;
    text-align: center;
    border-top: solid;
    padding-top: 1.5em;
}

/* viewport - small */
@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.3em;
        text-indent: .5em;
    }
    ul {
        column-count: 1;
        font-size: 1em;
        margin-left: .5em;
    }
}

/* viewport - medium */
@media screen and (max-width: 800px) {
    ul {
        column-count: 1;
        font-size: 1em;
        margin-left: 1em;
    }
}

/* viewport - large */
@media screen and (max-width: 1120px) {
    ul {
        column-count: 2;
        font-size: 1em;
        margin-left: 1em;
    }
}
